
<div class="layout">
  <div class="lnb">
    <ul>
      <li><a routerLink="/basic">[기초]</a></li>
      <li><a routerLink="/grid-helper">[grid-helper]</a></li>
      <li><a routerLink="/controls/orbitControls">[Orbit Controls]</a></li>
      <li><a routerLink="/geometries/sphere">[Sphere Geometry]</a></li>
      <li><a routerLink="/geometries/buffer-square">[Buffer Geometry(square)]</a></li>
      <li><a routerLink="/geometries/buffer-ring">[Buffer Geometry(ring)]</a></li>
      <li><a routerLink="/lights/ambient">[Ambient Lights]</a></li>
      <li><a routerLink="/loader/texture">[Texture Loader]</a></li>
      <li><a routerLink="/loader/gltf">[Gltf Loader]</a></li>
      <li><a routerLink="/loader/glb">[Glb Loader]</a></li>
      <li><a routerLink="/loader/ring">[Texture Ring]</a></li>
      <li><a routerLink="/camera/basic">[Camera - Fov, Near, Far]</a></li>
      <li><a routerLink="/event/draggable">[Mouse - Draggable]</a></li>
      <li><a routerLink="/example/cube">[Example - Cube]</a></li>
      <li><a routerLink="/example/cube-rotation">[Example - Cube - rotation]</a></li>
      
      <li><a routerLink="/example/shadow">[Shadow]</a></li>
      <li><a routerLink="/physics-engine/rapier/exmaple1">Physics Engine - Rapier 1</a></li>
      <li><a routerLink="/physics-engine/rapier/exmaple2">Physics Engine - Rapier 2</a></li>
    </ul>
  </div>
  <div class="content">
    <router-outlet />
  </div>
</div>

